body, html {
   height: 100%;
}

/*
body{
border-left: 150px;
border-right:150px;
border-style: solid;
border-color: white;
}
*/

img{
  margin-top: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom:20px;
  padding-bottom:20px;

}

h2{
  margin-top: 30px;
  margin-bottom: 15px;
  color: 	#333333;
  text-align: center;
  letter-spacing: .3px;
  line-height: 1;
  word-spacing: .3px;

font-family: "Times New Roman", Times, Sans-serif;
font-size: 20px;

}




form{
  background-color: lightgrey;

  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 50px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}



.buttonbox {
  text-align: center;
  padding-top: 30px;
}
.buttonbox > p {
   display: inline-block;
  float: none;
}
